.container{
    margin: auto;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid grey;
}
#title{
    width: 80%;
    margin-left: 120px;
}
#diff{
    padding-top: 35px;
}
#text-start{
    padding-right: 700px;
}

 th, td{
    border: 1px solid #004b49;
    text-align: center;
}
