.container{
    margin: auto;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid grey;
}
.author{
    display: flex;
}
#title{
    width: 50%;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
    margin-left: 450px;
}
.bold{
    font-weight: bold;
}
h1{
    text-align: center;
}
#header{
    background-color: blue;
    /* text-align: center; */
}
.ded{
    background-color: yellow;
    padding-left: 100px;
}
table{
    margin: auto;
}
td, tr{
    text-align: center;
    text-align: left;
}
